/* Start Main Rulez */


.container{
    width: 1100px;
    margin: auto
}
.clearfix{
    clear: both;
}
p{
    line-height: 1.6
}


/* End Main Rulez */

/* Start Header */
.header .slider{
    background-image: url('../imac/back.jpg');
    height: 600px  ;
    background-size: cover; 
    
    
}
.header .slider .intro{
    text-align: center;
    color: #FFF;
    height:1600px;
    padding-top: 250px
    
}
.header .slider .intro h2 {
    border-top: 3px solid #FFF;
    border-bottom:3px solid #FFF;
    padding: 10px 0;
    font-size: 50px;
    width:700px;
    margin: 0 auto
    
}
.header .slider .intro button {
padding: 15px 30px;
border: 2px solid #FFF;
margin-top: 30px;
background: none;
color:#FFF;
font-weight:bold;
font-size:20px
}
    
.header .slider .intro button:hover{
    color:#3CD487;
    border: 3px solid #39D485
    ;
    
}
     
.header .navbar{
   background-color: #252F31;
   color:#FFF;
   overflow: hidden
   
}
.header .navbar h2{float: left;text-transform:uppercase  }

.header .navbar h2 span{ color:#3CD487}
    
.header .navbar ul{
    list-style: none;
    padding-left: 0px;
    float: right;
    overflow: hidden
}
.header .navbar ul li {float: left;padding: 10px}

.header .navbar ul li a {
    color:#FFF;
    text-decoration:none
}
.header .navbar ul li a:hover {
    color:#3CD487
}
 /* End Header  */

/* Start Features */
.Features
{ overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px
                    }

.Features .feat{
    float: left;
    width: 33.33333%;
    height: 150px;
}
.Features .feat h2{
    text-transform: uppercase;
}
    .Features .feat p{
        color:#888
    }
/* End Features */

/* Start About Me */
.aboutme {
    background-color: #f2f2f2;
    overflow:hidden
}
.aboutme .image {
    float: left;
    width:40%
}
.aboutme .image img {width:100%}

.aboutme .info {
    float: left;
    width:60% 
}   
.aboutme .info h2 {
    margin:40px 0 20px 40px;
}
.aboutme .info > p {
    margin:0 0 10px 40px
}
.aboutme .info p:last-of-type{
   
    margin-top: 30px
    
}
.aboutme .info  p {
    line-height: 1.5;
    color:#666
}
    
.aboutme .info .hobbies {
    overflow: hidden;
    margin:10px 0 0 40px;

}
.aboutme .info .hobbies .content {
    float: left;
    width:50%;
    min-height: 100px;
    overflow: hidden
    
}
.aboutme .info .hobbies .content .icon {
    float: left;
    width:12%
    
}
.aboutme .info .hobbies .content .icon img{
    max-width: 100%;
    margin: 33px 17px 0px 0px;
}
    

.aboutme .info .hobbies .content .text {
    float: left;
    width: 88%
}

    
.aboutme .info .hobbies h2{
    margin: 40px 0 -11px 6px;
}
    
/* End About Me */

/*Start My Skills*/
.my-skills{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden

}
.my-skills .skills,
.my-skills .progress{
    width: 45%;
    float: left;
}
.my-skills .skills p{
    color:#888;
    margin: 25px 0 20px 40px;
    line-height: 1.5
}
.my-skills .skills h2{
        color:#666;
    margin: 25px 0 20px 40px;

}
.my-skills .skills button{
    color: #3CD487;
    border: 3px solid #3CD487;
    background: none;
    padding: 10px;
    font-weight: bold;
    width: 150px;
    margin: 25px 0 20px 40px;
}
.my-skills .progress{
    margin-left: 65px;
    
}


/*End My Skills*/

/* Start Resume */

.resume
 {
    background-color: #f2f2f2;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center
}
.resume p{
    color:#556064
}
.resume button{
        color: #3CD487;
        border: 2px solid #3CD487;
        background: none;
        padding:10px;
        font-weight: bold;
        width: 150px;
        margin-top: 20px
}
/* End Resume */

/*Start My Education*/
.myeducation{
    padding-top: 30px;
    padding-bottom: 30px;

}
.myeducation .main,
myeducation .exp{
    width: 50%;
    float: left;
}
/*End My Education*/

/* Start   testi monials */

 .testimonials{
   background-color: #f2f2f2;
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center
}
/* End testi monials */

/* Start portfolio */
.portfolio{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center
}
 .portfolio .our-work{
     overflow: hidden
 }
 .portfolio .our-work > div {
     float: left;
     width: 33.333333%;
     margin-bottom: 15px
 }

 .portfolio .our-work > div img{
     margin: 10px;
     width: 92%
 }
/* End portfolio */

 /* Start contact me */
    .contact-me{
        background-color: #252F31; 
        color:#FFF;
        padding: 40px;
        
        overflow: hidden
    }
    .contact-me h2{
        
        color:#FFF;
    }
.contact-me p{  
   color:  #6D7275
}
    .contact-me .info,
    .contact-me .form{
        float: left;
        width: 45%
    }
    .contact-me .form{
        margin-left: 25px
    }
    .contact-me .form input{
        width: 500px;
        height: 25px;
        color: #FFF;
        background-color: #415153;
        border: none;
        
    }
        
    
    /* End contact me */
    .footer{
        background-color: #191f22;
        color:#6A6E71;
        text-align: center;
        padding: 20px 0;
    }
    .footer .social img {
        width:80px;
        margin: 36px 10px 36px 0;
        
    }
    .footer .social img:hover{
        margin-bottom: 15px
    }